extends layout

block content 
  article
    header
      h1 Add Review
    form(action='/Review/Add' method="POST")
      label(for="bookName") Book Name
      input(type="text", name="bookName", value="") 
      label(for="content") The Review Content
      textarea(name="content", rows="8", cols="80")
      .review_stars
        each num in [5,4,3,2,1]
          input(type='radio' required id=`star${num}` name='rating' value=num)
          label(for=`star${num}`) #{num} Stars
      input(type="submit", value="Submit")
    
