extends layout

block content 
  section.container
      form(action='/Review/Add' method="POST").review-form
        header
          h1 Add Review
        .review-info
          label(for="bookName") Book Name
            input(type="text", name="bookName", value="", id="bookName" focused) 
            .book-title-list
          .review-stars
            each num in [5,4,3,2,1]
              input(type='radio' required id=`star${num}` name='rating' value=num)
              label(for=`star${num}`)
        label(for="content") Review Content
        textarea(id="content" name="content", rows="8", cols="80")
        .end-form
        input(type="submit", value="Submit").btn.btn-acc.go-right
    
