extends layout

include mixins/reviewCard

block content
  header
    h1 Welcome to #{process.env.SITE_NAME}!
    p Your source of book reviews
    
  section
    header
      h3 Most Recently Added Reviews
    .review-container
      if reviews
        each review in reviews
          +reviewCard(review) 
