html
  head
    title #{ title } - Bookie
    link(rel="stylesheet", href="/public/dist/App.bundle.css")
    
    
  body
    block content
    
    block scripts
      script(src="/public/dist/App.bundle.js", charset="utf-8")
