extends layout

include mixins/reviewCard
include mixins/pagingButtons

block content
  section.section
    header
      h1 Top Rated Reviews of All Time
    .review-container
      if reviews
        for review in reviews
          +reviewCard(review)
    +pagingButtons(page, totalPages)
