// fonts and text sizes setup

@import url("https://fonts.googleapis.com/css?family=Fira+Sans|Taviraj:700,700i");
@import url("https://fonts.googleapis.com/css?family=Lobster");

html {
  font-size: 10px;
}

body {
  font-size: 1.5rem;
  font-family: "Fira Sans", sans-serif;
  color: $gray-10;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lobster", serif;
  margin: 0;
  margin-bottom: 1rem;
}

h4,
h5,
h6 {
  font-family: "Taviraj", serif;
}

h1 {
  font-size: 5em;
}
h2 {
  font-size: 4em;
}
h3 {
  font-size: 3em;
}
h4 {
  font-size: 2em;
}
h5 {
  font-size: 2em;
  color: lighten($black, 10%);
}

h6 {
  font-size: 1em;
  color: lighten($black, 20%);
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: lighten($white, 30%);
  }
}

p {
  line-height: 2;
  font-size: 1.6rem;
}
