// All variables used throught sass

//Base
$main-space: 4rem;

// Colors
// https://color.adobe.com/create/color-wheel/?base=2&rule=Complementary&selected=4&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.5039215686274511,0.104841571050109,0.08962459436844593,0.9058823529411765,0.362991986513866,0.34229150015330145,0.803921568627451,0.2446963633301233,0.22337302725598565,0.03923243750570072,0.5039215686274511,0.20387184333372346,0.22337302725598565,0.803921568627451,0.4290614337719553&swatchOrder=0,1,2,3,4
$themeColor-Main: #CD3E39;
$themeColor-Main-Light: #E75D57;
$themeColor-Main-Dark: #801B17;
$themeColor-Accent: #0A8034;
$themeColor-Accent-Light: #39CD6D;
$themeColor-Accent: #075222;
$white: #E4E8E2;
$gray: #C1C1C1;
$black: #2A2A2A;

// Fonts
$theme-Font: verdana, sans-serif;
